footer {
  width: 100%;
  flex-wrap: wrap;
  padding: 5%;
  background-color: #f7f7f9;
  /*considero que solo es necesaria la media query del computador, sin embargo, lo dejo a evaluar*/
  @include computer {
    display: flex;
    gap: 10%;
  }

  & .info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
    @include computer {
      width: 25%;
      gap: 2rem;
    }
    & div {
      background-color: white;
      display: flex;
      & img {
        width: 150px;
        height: 120px;
      }
    }
  }

  & .imagenes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /*Querys*/
    @include computer {
      width: 60%;
    }
    img {
      width: 45%;
    }
  }
}
