body{
    margin: 0%;
}
.container_functions{
    background-color: #F7F7F9;
    margin: 0px;
    width: 100%;
    padding: 0%;
    min-height: 95vh;
    text-align: center;
}
.welcome{
    color: #494F56;
    font-family:'Paytone One', sans-serif;
    font-weight: 700;
    font-size: 70px;
    padding-top: 10vh;
    letter-spacing: 3px;
}
.span_color{
    color: #4051E1;
    font-family:'Paytone One', sans-serif;
}