.informacion {
  width: 100%;
  background-color: #4051e1;
  color: #f5f5f5;
  & h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
  }
  & h4 {
    align-self: self-start;
    font-size: large;
  }
  & p {
    color: #f5f5f5;
  }
  & #textImg {
    display: flex;
    & p {
      line-height: 35px;
      margin-right: 0;
    }
    & img {
      object-fit: cover;
      height: 150px;
      width: 35%;
      border-radius: 90%;
      /*zona de media queries para la imagen*/
      @include tablet {
        margin-left: 60px;
        width: 250px;
        height: 250px;
      }

      @include computer {
        margin-left: 60px;
        width: 250px;
        height: 250px;
      }
    }
  }
}
