.informacion {
  width: 100%;
  background-color: #4051e1;
  color: #f5f5f5;
  & h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    
    /*zona de media queries para el titulo "información destacada"*/
    @include mobile {
      font-size: 2rem;
    }
  }
  & h4 {
    align-self: self-start;
    font-size: 40px;

    /*zona de media queries para el subtitulo*/
    @include computer {
      font-size: 40px;
    }
    @include tablet {
      font-size: 30px;
    }
    @include mobile {
      font-size: 20px;
    }
  }
  & p {
    color: #f5f5f5;

   /*zona de media queries para el texto*/
    @include mobile {
      font-size: 10px;
    }
    @include tablet {
      font-size: 20px;
    }
  }
  & #textImg {
    display: flex;

    & p {
      /*line-height: 35px;*/
      margin-right: 0;
    }
    & img {
      object-fit: cover;
      height: 150px;
      width: 35%;
      border-radius: 90%;
      /*zona de media queries para la imagen*/
      @include tablet {
        margin-left: 10px;
        margin-right: 10px;
        width: 250px;
        height: 250px;
      }

      @include computer {
        margin-left: 10px;
        margin-right: 20px;
        width: 350px;
        height: 350px;
      }

      @include mobile {
        margin-left: 10px;
        margin-right: 10px;
        width: 100px;
        height: 100px;
      }
    }
  }
}
